@import "components/van-info-box";


html {
  height: 100vh;
}

.main-show-container {
  width: 100%;
  height: 100%;
  overflow: scroll;
  position: absolute;
}

.show-container {
  display: flex;
  flex-direction: column;
  width: 76vw;
  margin: 70px auto;
}

