<div class="modal fade" id="<%= "bookingDetailsModal#{booking.id}" %>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content vancamp-modal">
      <div class="modal-body">
        <%= render partial: "show", locals: { booking: booking } %>
      </div>
    </div>
  </div>
</div>

