<div class="vancamp-modal-container">
  <h1>Booking Details</h1>
  <ul class="booking-details-modal">
    <li>Van: <%= booking.van.title %></li>
    <li>Price per Day: €<%= booking.van.price_per_day %></li>
    <li>Booked at: <%= booking.created_at %></li>
  </ul>
</div>
