<!-- PREDENDER A MODAL FOR ALL BOOKINGS -->

<h1>My bookings</h1>

<ul>
  <% booking = @bookings.first %>

  <% @bookings.each do |booking| %>

  <% end %>
  <%= render partial: 'booking_details_modal', locals: { booking_id: booking.id } %>
  <a class="xl-bttn" data-toggle="modal" data-target="#bookingDetailsModal147">Details</a>
</ul>


