<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<% if user_signed_in? %>
  <p>Welcome, <%= current_user.first_name %></p>
  <%= link_to "Sign Out", destroy_user_session_path(@user), method: :delete  %>
<% else %>
  <p>Welcome, stranger! Wanna sign up? </p>
  <%= link_to "Sign Up", new_user_registration_path %>
  <br>
  <%= link_to "Log In", new_user_session_path  %>
<% end %>


