.vancamp-modal {
  border-radius: 20px;
  border: 5px solid black;
  padding: 10px;
}

.vancamp-modal h1 {
  font-family: 'Squada One', cursive;
}

.vancamp-modal-container {
  border: 1px solid red;
}

body {
  // background-color: red;
}
