.navbar-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.navbar-wrapper {
  border-bottom: 2px solid #0d0d0b;
  border-left: 2px solid #0d0d0b;
  border-right: 2px solid #0d0d0b;
  display: flex;
      position: fixed;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: white;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  width: 76vw;
  height: 51px;
  box-shadow: 0px 0px 44px 0px rgba(0,0,0,0.42);
  position: absolute;
  right: 11%;
  z-index: 20000;
}

.navbar-float-right {
  // border: 2px solid red;
  height: 49px;
  display: flex;
}

.navbar-float-left {
  // border: 2px solid red;
  display: inline-flex;
  align-content: flex-start;
  height: 49px;

}

.navbar-button {
  text-decoration: none;
}

.small-logo {
  height: 119%;
  width: 100px;
  margin-left: 19px;
  margin-top: -6px;
  background-image: url("logo-small-black.png");
  background-size: contain;
  background-position: left;
  background-repeat: no-repeat;
}

.small-logo:hover {
  background-image: url("logo-small-color.png");
  transition: 0.5s;
}


