.xl-bttn {
  background-color: white;
  color: black;
  width: 220px;
  height: 50px;
  margin: 10px;
  font-family: 'Squada One', cursive;
  font-size: 23px;
  border-radius: 12px;
  border: 4px solid black;
  letter-spacing: 2px;
  padding-top: 5px;
}
.xl-bttn:hover {
  background-color: #e4ae89;
  color: black;
  width: 220px;
  height: 50px;
  margin: 10px;
  font-family: 'Squada One', cursive;
  font-size: 23px;
  border-radius: 12px;
  border: 4px solid black;
  letter-spacing: 2px;
  transition: 0.5s;
  text-decoration: none;
}




.large-bttn {
  background-color: white;
  color: black;
  width: 163px;
  height: 50px;
  margin: 10px;
  font-family: 'Squada One', cursive;
  font-size: 23px;
  border-radius: 12px;
  border: 4px solid black;
  letter-spacing: 2px;
  padding-top: 5px;
}
.large-bttn:hover {
  background-color: #e4ae89;
  color: black;
  width: 163px;
  height: 50px;
  margin: 10px;
  font-family: 'Squada One', cursive;
  font-size: 23px;
  border-radius: 12px;
  border: 4px solid black;
  letter-spacing: 2px;
  transition: 0.5s;
  text-decoration: none;
}

.small-bttn {
  display: flex;
  align-items: center;
  padding: 0 6px 0 10px;
  color: black;
  margin: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;

  a {
    color: black;
    &:hover {
      background-color: white;
      transition: 0.2s;
      color: #d55d38;
    }
  }
}


.rent-bttn {
  padding: 2px 10px 0 10px;
  background-color: black;
  margin-top: 34px;
  margin-left: 48px;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 11px;
  letter-spacing: 1.5px;
  color: white;
  border-radius: 7px 7px 0 0;
  a {
    color: white;
    &:hover {
      color: #e79e3c;
      text-decoration: none;
      transition: 0.5s;
    }
  }
}

.cta-bttn {
  background-color: white;
  color: black;
  width: 77px;
  height: 50px;
  margin: 10px;
  font-family: 'Squada One', cursive;
  font-size: 23px;
  border-radius: 12px;
  border: 4px solid black;
  letter-spacing: 2px;
  padding-top: 5px;
}
.cta-bttn:hover {
  background-color: #e79e3c;
  color: black;
  width: 77px;
  height: 50px;
  margin: 10px;
  font-family: 'Squada One', cursive;
  font-size: 23px;
  border-radius: 12px;
  border: 4px solid black;
  letter-spacing: 2px;
  padding-top: 5px;
  transition: 0.9s;
}

.xl-bttn, .large-bttn, .cta-bttn, .small-bttn{
  cursor: pointer !important;
  a:hover{
    text-decoration: none;
  }
}

.book-bttn {
  align-items: center;
  background-color: #5c7658;
  width: 84%;
  height: 50px;
  margin-left: 15px;
  margin-right: 12px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 20px;
  border-radius: 7px;
  letter-spacing: 2px;
  padding: 12px;
  margin-bottom: 12px;
  margin-top: 22px;
  display: flex;
  justify-content: center;

}

.book-bttn:hover {
  background-color: #226b80;
}

.back-bttn {
  background-color: #383838;
  text-decoration: none;
  /* width: 93%; */
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: white;
  border-radius: 7px;
  letter-spacing: 2px;
  padding: 12px 33px 12px 33px;
  margin-bottom: 12px;
  margin-top: 22px;
  margin-left: 12px;
}

.back-bttn:hover {
  background-color: #ea5b2e;
  text-decoration: none;
  color: white;
}

