.search-form {
  margin-top: 26px;
  width: 400px;
}

.search-input {
  background-color: white;
  color: black;
  width: 100%;
  height: 50px;
  font-family: 'railway', sans-serif;
  font-weight: 700px;
  font-size: 15px;
  border-radius: 44px;


  text-align: left;
}
// MAYBE USEFULL -> algonia class
#address-input {
  text-align: left;
}
// OVERRIDE ALGOLIA SEARCH
.ap-suggestion {
  text-align: left
}
