// .van-banner {
//   background-size: cover;
//   height: 75vh;
//   text-align: center;
//   position: relative;
//   display:flex;
//   align-items: center;
//   justify-content: center;
//   background-position: bottom;
//   z-index: 0;
// }


.van-title {
  color: #e79e3c;
  text-align: center;
  margin-bottom: 10px;
}

#van-title {
  font-family: 'Squada One', serif;
  font-size: 4em;
  margin-top: 10px;
  text-shadow: 0px 1px 5px grey;
}

#van-description {
  opacity: 0.7;
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
}

