.huge-info-card {
  display: grid;
  height: 80%;
  grid-template-columns: 40% 60%;
  width: 100%;
  margin: 0px auto;
  border-radius: 12px;
  border: 3px solid black;
}

.van-info-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 10px;
  // one line option:
  // height: 25vh;
  // width: 20%;
  // display: flex;
  // flex-wrap: wrap;
  // align-items: stretch;
  // justify-content: space-around;
}

.van-outer-box {
  padding-top: 30px;
  padding-bottom: 30px;
  // position: absolute;
  left:0;
  right:0;
  width: 100%;
  background-color: white;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  border-radius: 12px 0 0 12px;

}

.img-box {
  border-radius: 0 12px 12px 0;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-weight: bold;

}

.icon {
  font-size: 2.5em;
  color: #e4ae89;
}

.back-bttn-div {
  padding: 20px 0;
}

#book-bttn-div {
  min-height: 50px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 10px;
}


