.main-container {
  display: flex;
  background-color:white;

}

.van-card-container {
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 80px;
  margin-left: 25px;
  margin-right: 25px;
  flex-grow: 1;
  grid-gap: 20px;
  width: 60%;
}

.van-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  font-size: 16px;
  font-weight: bold;
  font-size: 12px;
  opacity: .85;
  border-radius: 12px;
  border: 0px solid black;
  display: flex;
  flex-direction: column;
  height: 220px;

    }

  .van-card:hover {

  text-decoration: none;
  transition: 0.5s;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
  font-size: 16px;
  font-weight: bold;
  font-size: 12px;
  opacity: 1;
  border-radius: 12px;
  border: 0px solid black;
  display: flex;
  flex-direction: column;
  height: 220px;

}

.title-in-card {
  font-size: 18px;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: 'raleway';
  padding-left:10px;
  padding-top:15px;
  padding-bottom:2px;
  margin:0!important;
  font-weight:700;

}


.card-image{
  object-fit: cover;
  img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
}

// .seats{
//   padding:0!important;
//   margin:0!important;
//   font-family: 'Roboto', sans-serif;
//   font-weight: 700;
//   font-size: 15px;
//   text-shadow: 1px 1px 3px rgba(0,0,0,2.5);
//   letter-spacing:1px;

// }

.price{
  // padding:0!important;
  // margin:0!important;
  font-family: 'raleway', medium;
  font-weight: 500;
  font-size: 11px;
  // letter-spacing:1px;
  padding-left:10px;
  padding-bottom:15px;
  margin:0!important;

}
// .more-into-link {
//   color:#008489;
//   font-family: 'Roboto', sans-serif;
//   font-weight: 700;
//   font-size: 15px;
//   text-shadow: 1px 1px 3px rgba(0,0,0,2.5);
//   letter-spacing:1px;
// }

.bottom-banner{
  background-color:white;
  padding:0!important;
  margin:0!important;
  width:100%;
  height:20%;
}

#renter-name {
  padding-right: 40px;
  margin-top: 30px;
}

@media(max-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

