.main-container {
  display: flex;
}

.van-card-container {
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 80px;
  margin-left: 30px;
  margin-right: 30px;
  flex-grow: 1;
  grid-gap: 20px;
  width: 60%;
}

.van-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.4);
  font-size: 16px;
  font-weight: bold;
  font-size: 12px;
  opacity: .85;
  border-radius: 12px;
  border: 0px solid black;
  background-size:cover;
  min-height:200px;
  display:flex;
  flex-direction: column;

    }

  .van-card:hover {

  text-decoration: none;
  transition: 0.5s;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  font-size: 16px;
  font-weight: bold;
  font-size: 12px;
  opacity: 1;
  border-radius: 12px;
  border: 0px solid black;
  background-size:cover;

}

.title-in-card {
  font-size: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-family: 'Squada One', cursive;
  padding-left:10px;
  padding-top:15px;
  margin:0!important;

}


.card-image{
  object-fit: cover;
  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
}

// .seats{
//   padding:0!important;
//   margin:0!important;
//   font-family: 'Roboto', sans-serif;
//   font-weight: 700;
//   font-size: 15px;
//   text-shadow: 1px 1px 3px rgba(0,0,0,2.5);
//   letter-spacing:1px;

// }

.price{
  // padding:0!important;
  // margin:0!important;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
  // letter-spacing:1px;
  padding-left:10px;
  padding-bottom:15px;
  margin:0!important;

}
// .more-into-link {
//   color:#008489;
//   font-family: 'Roboto', sans-serif;
//   font-weight: 700;
//   font-size: 15px;
//   text-shadow: 1px 1px 3px rgba(0,0,0,2.5);
//   letter-spacing:1px;
// }

.bottom-banner{
  background-color:white;
  padding:0!important;
  margin:0!important;
  width:100%;
  height:20%;
}
