
.huge-info-card {
  display: grid;
  height: 80%;
  grid-template-columns: 50% 50%;
  width: 100%;
  margin: 0px auto;
  border-radius: 12px;
}

.van-info-box {
  height: 220px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 0px;
  grid-column-gap: 0px;
}

.van-outer-box {
  background-color: white;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  border-radius: 12px 0 0 12px;

}

.img-box {
  border-radius: 0 12px 12px 0;
  background-size: cover;
}

.info-div {
  background-color: #343a401f;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  margin: 12px;

}

.icon {
  font-size: 22px;
  color: #2d2d27;
}

.back-bttn-div {
  display: flex;
  margin: 0 0 0 auto;
  padding: 0 0 20px 0;
}

#book-bttn-div {
  min-height: 50px;
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 10px;
  color: white;

}


.van-title {
  color: #000000cf;
  text-align: center;
  margin-bottom: 10px;
  font-family: 'Raleway', sans-serif;
  text-align: left;
  padding-left: 17px;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

#van-title {
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  margin-top: 11px;
  color: #000000cf;
  font-weight: 700;
  text-align: left;
}

#van-description {
  opacity: 0.7;
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
  font-weight: lighter;
  color: black;
  text-align: left;
  padding-left: 3px;
}

// .van-banner {
//   background-size: cover;
//   height: 75vh;
//   text-align: center;
//   position: relative;
//   display:flex;
//   align-items: center;
//   justify-content: center;
//   background-position: bottom;
//   z-index: 0;
// }


